.bug{
    background-color: rgba(255, 0, 0, 0.37);
}

body{
    background-color: #98794B;
}

header{
    background-color: bisque;
}

/* GRID */
.cg-container{
    width: 500px;
    height: 500px;
    margin:20px auto;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;

}

.box.easy{
    width: calc(100% / 10);
    height: calc(100% / 10);
}

.box.medium{
    width: calc(100% / 9);
    height: calc(100% / 9);
}

.box.hard{
    width: calc(100% / 7);
    height: calc(100% / 7);
}

footer{
    background-color: bisque;
}